<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.archermind.note"
    android:versionCode="338"
    android:versionName="0.9.338" >

    <uses-sdk android:minSdkVersion="7" />

    <application
        android:name=".NoteApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:configChanges="orientation|keyboardHidden" >
        <activity
            android:launchMode="singleTask"
            android:name=".Screens.MainScreen"	
        	android:screenOrientation="portrait"
        	android:theme="@style/ActivityNoTitle">
        </activity>
        <activity android:name=".Screens.PlazaScreen" />
        <activity android:name=".Screens.HomeScreen" />
        <activity android:name=".Screens.EditNoteScreen" />
        <activity android:name=".Screens.LoginScreen" />
        <activity android:name=".Screens.InformationScreen" />
        <activity android:name=".Screens.NoteReplyScreen" />
        <activity
            android:name=".Screens.RegisterScreen"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Screens.ShareScreen"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity android:name="com.tencent.weibo.webview.OAuthV2AuthorizeWebView" />
        <activity android:name=".Screens.PreferencesScreen" />
        <activity
            android:name=".Screens.AccountScreen"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Screens.AlbumScreen" />
        <activity android:name=".Screens.PersonInfoScreen" />
        <activity android:name=".Screens.PersonalInfoRegionScreen" />
        <activity android:name=".Screens.AboutScreen" />
        <activity android:name=".Screens.FeedbackScreen" />
        <activity android:name=".Screens.LogoScreen"
        	android:screenOrientation="portrait"
        	android:theme="@style/ActivityNoTitle">
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".crop.CropImage"></activity>
        <service android:name=".Services.CrashReportService" />
        <service android:name=".Services.ServiceManager" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

</manifest>
